@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  /* Gradasi dasar Takapedia: Gelap ke Ungu Gelap */
  background: radial-gradient(circle at 0% 0%, #1c1c11 0%, #0d0d0d 50%);
  background-color: #0d0d0d;
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

/* Animasi halus untuk tombol */
button {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}